/* ===============================
   🌐 GLOBAL CSS – finance website
   =============================== */

   
@import "tailwindcss";




 

/* 2️⃣ Root Variables (Colors + Fonts) */
:root {
   --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1D73BF;   /* Azure Blue */
  --color-secondary: #38B6FF; /* Light Blue */
  --color-accent: #FDC36C;    /* Pastel Orange */
  --color-bg: #FFFFFF;        /* White */
  --color-heading: #004AAD;   /* Cobalt Blue */
  --color-text: #111111;      /* Black/Body text */
  
  
  --font-sans: var(--font-phantom-sans), system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--color-text);
}
body {
  font-family: var(--font-phantom-sans), system-ui, sans-serif;
}
